.date-picker {
  margin-bottom: 20px;
}

.detail-statistic, .payout{
  width: 90%;
  margin: 50px auto;
}

table {
  width: 90%;
  max-width: 90%;
  margin: 10px auto 30px auto;
  font-family: $font;
  font-size: 15px;

  tr{
    th,td{
      padding: 20px 0;
    }
  }
}

thead{
  color: $main-text-color;
  text-align: left;
}

.pagination{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: $links-color;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  color: $main-text-color
}

.pagination a:hover:not(.active) {color: $color-sent;}
