@media (max-width: 900px) {

  .sidebar {

    width: 90px;

    h1 i{
      margin: 0;
    }

    h1{
      font-size: 0;
    }

    .menu a{
      font-size: 0;
    }

    .messenger{

      h4{
        font-size: 0;
      }

      .popup{
        font-size: 0;
      }
    }
  }

  .top-bar p{
    font-size: 14px;
  }

  .statistics .details{
    width: 100%;
  }

  .date-picker{
    display: block;
  }

  .personal-data .form-data{
    width: 90%;
  }

  table{
    width: 100%;
    overflow: auto;
  }

  .link a{
    font-size: 14px;
    word-wrap: break-word;
  }

 .card-container{
   padding: 0px;
 }
}