@media (max-width: 768px) {

  .sidebar{
    height: 50px;
    width: 100%;
    display: inline-block;

    .menu{
      display: none;
    }
    
  }
  .top-bar p{
    font-size: 14px;
  }

  .statistics .details{
    width: 100%;
  }

  .date-picker{
    display: block;
  }
}