/* Colors */
$logo-color: #ffffff;
$sidebar-background-color: #1b1b1b;
$sidebar-hover-background-color: #282828;
$sidebar-text-color: #aaaaaa;
$sidebar-text-hover-color: #ffffff;
$navigation-color: #999999;
$links-color: #56819f;
$hover-links-color: #FFA200;
$online-color: #04ae00;

$body-color: #e4e4e2;
$container-background-color: #ffffff;
$background-hover: #f1f3f3;
$main-text-color: #a6a6a6;
$dark-text-color: #000000;
$icons-color: #9c9c9c;
$shadow-color: #ddb187;

$button-color: #f58220;
$border-color: #e5e5e5;
$color-paid: #9accd4;
$color-sent: #ec9a4d;

$message-background-light-color: #f3f3f1;
$message-background-dark-color: #bababa;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$logo-font: "Just Another Hand", cursive;
$font: "Roboto", sans-serif;
